/*
  Navbar container
*/
.Navbar {
  width: 100%;
  color: white;
  font-family: "Open Sans", sans-serif;
}
/*
 container 80%
*/
.Container {
  margin: 0 auto !important;
}

/*
  Navbar Left part
  ------------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>LEFT SIDE
*/
.NavbarInsideLeft ul {
  margin-left: 40px !important;
}
/*
  Navbar Right side
  <<<<<<<<<<<<<<<<<<<<<<<<<<<<-------------------------------------------------------RIGHT SIDE
*/
.NavbarInsideRight {
  width: 10%;
  justify-content: center;
}
.NavbarInsideRight ul li a {
  margin-left: 25px !important;
}
/*
  Image resize
*/
.ImageSize {
  width: 20%;
}

/*
  ---------------->
    ---------------->
                  REUSABLE CLASSES
                  <-----------------
                    <-----------------
*/
.NavbarInsideRight,
.NavbarInsideLeft ul,
.NavbarInsideLeft,
.NavbarInside,
.NavbarInsideRight ul,
.Navbar {
  display: flex;
}
.Navbar,
.NavbarInside,
.NavbarInsideLeft,
.NavbarInsideRight {
  height: 15vh;
}

.Navbar,
.NavbarInside,
.NavbarInsideLeft,
.NavbarInsideRight {
  align-items: center;
}

.NavbarInsideLeft ul li a,
.NavbarInsideRight ul li a {
  margin-right: 15px !important;
  display: inline-block;
  margin-top: 10px !important;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.NavbarInsideLeft ul li a::before,
.NavbarInsideRight ul li a::before {
  content: "";
  position: absolute;
  transform-origin: right;
  width: 0;
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.NavbarInsideLeft ul li a:hover::before,
.NavbarInsideRight ul li a:hover::before {
  visibility: visible;
  width: 100%;
}
.Container,
.NavbarInsideLeft {
  width: 90%;
}
.NavbarInsideRight ul li a.NoEffect::before {
  visibility: hidden !important;
  text-decoration: none !important;
}

/*
*
*********************** -----> Media
*********************** -----> Quries
*
*/

/* 
 Mostly all smartphones
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */

  .NavbarInsideRight ul li:first-child,
  .NavbarInsideLeft ul {
    display: none;
  }
  .ImageSize {
    width: 50%;
  }
  .NavbarInsideRight ul li:last-child i {
    font-size: 20px;
  }
}

/* 
Landscape for mobiles and tablets
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  /* CSS */
  .NavbarInsideRight ul li:first-child,
  .NavbarInsideLeft ul {
    display: none;
  }
  .ImageSize {
    width: 50%;
  }
  .NavbarInsideRight ul li:last-child i {
    font-size: 20px;
  }
}
/* 
  Landscape tablets and ipads
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .NavbarInsideRight ul li:first-child,
  .NavbarInsideLeft ul {
    display: none;
  }
  .ImageSize {
    width: 50%;
  }
  .NavbarInsideRight ul li:last-child i {
    font-size: 20px;
  }
}
/* 
  portrait tablets and ipads
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .NavbarInsideRight ul li:first-child,
  .NavbarInsideLeft ul {
    display: none;
  }
  .ImageSize {
    width: 50%;
  }
  .NavbarInsideRight ul li:last-child i {
    font-size: 30px;
  }
}
